#contact {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0px);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contact-datas, .contact-form {
  padding: 6rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-datas {
  background-color: var(--color-12);
  border-radius: 5px 0 0 5px;;
}

.contact-form {
  background-color: var(--color-0);
  border-radius: 0 5px 5px 0;
}

.contact-datas h2 {
  margin-bottom: 6rem;
}

.contact-adress {
  margin-bottom: 3.2rem;
  padding-left: 2.8rem;
  background: url("../../img/icones/local.svg") no-repeat 0 2px;
}

.contact-adress p {
  margin-bottom: .8rem;
}

.contacts a {
  display: block;
  max-width: max-content;
  margin-bottom: .8rem;
  padding-left: 2.8rem;
}

.contacts a:first-child {
  background: url("../../img/icones/email.svg") no-repeat 0 2px;
}

.contacts a:nth-child(2) {
  margin-bottom: 3.2rem;
}

.contacts a:nth-child(3) {
  background: url("../../img/icones/telefone.svg") no-repeat 0 2px;
  margin-bottom: 6rem;
}

.contacts a:hover {
  color: var(--color-0);
}

.contact-social {
  display: flex;
  padding-left: 2.8rem;
  gap: 3.2rem;
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .contact-datas, .contact-form {
    padding: 2rem;
  }

  .contact-datas {
    border-radius: 5px 5px 0 0;
  }

  .contact-form {
    border-radius: 0 0 5px 5px;
  }

  .contact-datas h2, .contacts a:nth-child(3) {
    margin-bottom: 3.2rem;
  }

  .contact-social {
    margin-bottom: 1.2rem;
  }
}

