.header-bg {
  background-color: var(--color-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu a {
  display: inline-block;
  padding: 1.6rem 0;
  position: relative;
}


.header-menu a:after {
  display: block;
  content: "";
  width: 0px;
  height: 2px;
  background: var(--color-0);
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

.header-menu a.active:after {
  width: 100%;
  background: var(--color-p1);
}

@media (max-width: 800px) {
  .header-menu {
    gap: 2rem;
  }

  .header-menu a {
    background-color: var(--color-11);
    border-radius: 4px;
    padding: 1.2rem 1.6rem;
  }

  .header-menu a:hover {
    background: var(--color-10);
  }

  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1.2rem;
  }

  .header-menu a {
    font-size: 1.4rem; 
    padding: 0.8rem 1.2rem;
  }
}