.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-inline: 2rem;
  margin-inline: auto;
}

.button {
  display: inline-block;
  background: linear-gradient(#FFBF00, #F2A50C);
  border-radius: 4px;
  color: #332200;
  font: 600 1.8rem/1.33 'Poppins', sans-serif;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0 0 0 0.1);
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#FFB60D, #E59317);
}

.button.secondary {
  background: var(--color-10);
  color: var(--color-2);
}

.button.secondary:hover{
  background: var(--color-9);
}

.button.arrow {
  display: flex;
  align-items: center;
}

.button.arrow::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 1.2rem;
  background: url("../../img/icones/seta.svg");
  transition: transform .2s;
}

.button.arrow:hover::after {
  transform: translateX(4px);
}

.link {
  display: inline-block;
  color: var(--color-p1);
  font: 500 2.4rem/1.5 'Poppins', sans-serif;
  text-transform: uppercase;
}

.link:hover {
  color: var(--color-0);
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.title-bg {
  background-color: var(--color-11);
  padding-block: 6rem;
}

.title p {
  margin-bottom: .4rem;
}

.title {
  background: url("../../img/dec/top-right.svg") no-repeat top right 20px;
}

@media(max-width: 800px) {
  .title-bg {
    padding-block: 4rem;
  }

  .title p {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: lowercase;
  }
}

@media (max-width: 600px){
  .button {
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
  }
}