#estimate {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0px);
}

.estimate {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 12rem;
}

.estimate h2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

.estimate h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--color-p1);
  position: absolute;
  left: -12px;
}

.estimate-product, .estimate-datas {
  padding: 6rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.estimate-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 20px left 20px;
  align-content: start; 
  border-radius: 5px 0 0 5px;
  gap: 2rem;
}

.estimate-product label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: var(--color-4);
  font: 400 1.6rem/1.5 "Poppins", sans-serif;
  background-color: var(--color-10);
  padding: 1.2rem 1.6rem;
  border-radius: 4px;
  border: 1px solid var(--color-12);
  cursor: pointer;
}

.estimate-product label span {
  display: none;
}

.estimate-product input:checked + label span{
  display: inline-block;
}

.estimate-product label::before {
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: .8rem;
  border: 1px solid var(--color-6);
  border-radius: 50%;
}

.estimate-product input:checked + label::before {
  border-color: var(--color-7);
  box-shadow: inset 0 0 0 3px var(--color-0), inset 0 0 0 6px var(--color-7);
}

.estimate-product label:hover {
  background-color: var(--color-9);
  border-color: var(--color-9);
}

.estimate-product input:focus + label {
  box-shadow: 0 0 0 2px var(--color-p1);
  border-color: var(--color-12);
}

.estimate-product input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.estimate-product input:checked + label {
  color: var(--color-12);
  background: var(--color-0);
}

.estimate-product > * {
  grid-column: 1 / -1;
}

.estimate-product > label {
  grid-column: initial;
}

.estimate-datas {
  background: var(--color-0) url("../../img/dec/bottom-right.svg") no-repeat bottom 20px right 20px;
  border-radius: 0 5px 5px 0;
}

#estimate-insurance, #estimate-bikcraft {
  display: none;
}

.estimate-content h2, .estimate-datas h2:nth-of-type(n + 2) {
  margin-top: 2rem
}

#bikcraft:checked ~ #estimate-bikcraft, #insurance:checked ~ #estimate-insurance {
  display: grid;
  gap: 2rem;
}

.estimate-details {
  display: none;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: var(--color-0);
  padding: 2rem;
  border-radius: 4px;
}

.estimate-details li {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.estimate-details li img {
  width: 16px;
  margin-right: .8rem;
}

.estimate-product input:checked + label + .estimate-details{
  display: grid;
}

@media (max-width: 1200px) {
  .estimate-product, .estimate-datas {
    padding: 3.2rem;
  }
}

@media (max-width: 800px) {
  .estimate {
    grid-template-columns: 1fr;
  }

  .estimate-product {
    border-radius: 5px 5px 0 0;
    background: var(--color-12);
  }

  .estimate-datas {
    border-radius: 0 0 5px 5px;
  }
}

@media (max-width: 400px) {
  .estimate-product {
    grid-template-columns: 1fr;
  }
}