.benefits-bg {
  background-color: var(--color-12);
}

.benefits {
  padding-block: 12rem;
}

.benefits h2 {
  margin-bottom: 6rem;
}

.benefits h3, .benefits img {
  margin-bottom: .8rem;
}

.benefits ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 4rem 8rem;
}

@media (max-width: 800px) {
  .benefits {
    padding-block: 6rem;
  }

  .benefits h2 {
    margin-bottom: 4rem;
  }

  .benefits ul {
    gap: 2rem;
  }
}